$content_width: 500px;
$background: #FFFFFF;

.content {
  background-color: darken($background, 3%);
  width: $content_width;
}

h1 {
  color: #910E00;
}

.index_block {
  width: 100%;
  height: 40px;
  margin: auto;
}

#index {
  width: 50px;
  margin:auto;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(#B10900, #FF0D00,#FF0D00, #FF5C00, #FFA200);
}



