$content_width: 500px;
$background: #FFFFFF;

.content {
  background-color: darken($background, 3%);
  width: $content_width;
}


.full-width {
  width: 100%;
  background-color: lightyellow;
  overflow: hidden;
  padding: 3em;
  margin-right:0;

 h1, h2, h3, h4 {
  text-align: center;
 }

  h1 {
    padding:.5em 0 0 0;
    font-family: Impact;
    font-weight: bold;
    font-size: 6em;
    color: #910E00;
  }

  h2 {
    margin: 0 0 1em 0;
    font-variant: small-caps;
  }

  #discover {
    margin: 2em;
  }

  #call_to_report {
    border: dashed grey 2px;
    width: 75%;
    padding: 1em;
    margin: auto;
    text-align: center;

    a {
      font-variant: small-caps;
    }
  }

  #index_col {
    padding: 0 2em;
    background-color: lightgrey;

    .inline {
      display: inline-block;
      margin-top:2em; 
      position: relative;
      float: left;
      padding: 0 0.5em;
      text-align: right;

      #top, #bottom {
        font-size: 1.5em;
        text-align:center;
        position: relative;
      }

    }

    #info {
      float: right;
      background-color: white;
      padding: 2em;
      width: 50%;
      margin: 4em;
    }

    #source_col {
      width: 8em;
    }

    .index_block {
      width: 100%;
      height: 40px;
      margin: auto;
    }

    #index {
      width: 50px;
      background: linear-gradient(#600000, #FF0D00,#FF0D00, #FF5C00, #FFA200);
      position: relative;
    }


    
    h3 {
      margin: 1em;
      text-align: center;
    }
  }
}

#funfact {
  position: relative;
  top: -10em; 

  .dot {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin: 2em auto;
    border-radius: 10em;
  } 

  p{
    padding: 3em;
    margin: 2em;
    border-radius: 1em;
    background-color: #FFA200;
  }
}





