$content_width: 500px;
$background: #FFFFFF;
@mixin background($imgpath,$position:0 0,$repeat: repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

.content {
  background-color: darken($background, 3%);
  width: $content_width;
}


.full-width {
  width: 100%;
  background-color: lightyellow;
  @include background('/static/painindex/imgs/diagmonds.png');
  overflow: hidden;
  padding: 3em;
  margin-right:0;

  h1, h2, h3, h4 {
    text-align: center;
    color: white;
    font-family: Helvetica;
  }

  h1 {
    padding:.3em 0 0 0;
    font-family: Palatino;
    font-size: 6em;
    color: white;
    text-shadow: -5px 0 #600, 0 5px #600, 5px 0 #600, 0 -5px #600;
  }

  h2 {
    margin: 0 0 1em 0;
    font-variant: small-caps;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-family: Palatino;
  }

  #discover {
    margin: 2em;
  }

  #call_to_report {
    width: 75%;
    padding: 2em 3em;
    margin: auto;
    text-align: left;
    background-color: lightgrey;
    color: black;
    line-height: 1.8em;

    p {
      padding: 0.5em 0 2em 0;
    }

    a {
      font-variant: small-caps;
    }
  }

  #index_col {
    padding: 0 2em;
    background-color: rgba(255,255,255,0.15);
    overflow: hidden;
    width: 90%;
    margin: auto;
    color: black;

    .inline {
      display: inline-block;
      margin-top:2em; 
      position: relative;
      float: left;
      padding: 0 0.5em;
      text-align: right;
      opacity: 2;

      #top, #bottom {
        font-size: 1.5em;
        text-align:center;
        position: relative;
      }

    }

    #info {
      float: right;
      background-color: white;
      padding: 2em;
      width: 50%;
      margin: 4em;
      h3, h4 {
        color: black;
      }

      h2 {
        color: black;
        text-shadow: none;
        font-size: 1.5em;
        font-variant: small-caps;
        font-weight: normal;
        letter-spacing: 0.5em;
        font-style: italic;
        border-bottom: 1px solid black;
      }
    }

    #source_col {
      width: 8em;
    }

    .index_block {
      width: 100%;
      height: 40px;
      margin: auto;
    }

    #index {
      width: 50px;
      background: linear-gradient(#600000, #FF0D00,#FF0D00, #FF5C00, #FFA200);
      position: relative;
    }


    
    h3 {
      margin: 1em;
      text-align: center;
    }
  }
}

#funfact {
  position: relative;
  top: -10em; 

  .dot {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin: 2em auto;
    border-radius: 10em;
  } 

  p{
    padding: 3em;
    margin: 2em;
    border-radius: 1em;
    background-color: #FFA200;
  }
}

.navbar-inverse {
  background-color: #600;

  .navbar-nav{
    .active {
      a{
        background-color: #600000;
      }
    }
  }
}






