{% extends "base.html" %}


{% block title %}Pain Index{% endblock %}


{% block main_content_title %}
    
  Welcome to a World of Pain  

{% endblock %}

{% block main_content %}
  <h4>Share your pain with the world</h4>

  <h3>The Index</h3>
  <div id = "index">
    <div class = "index_block" id = "block_1"></div>
    <div class = "index_block" id = "block_2"></div>
    <div class = "index_block" id = "block_3"></div>
    <div class = "index_block" id = "block_4"></div>
    <div class = "index_block" id = "block_5"></div>
    <div class = "index_block" id = "block_6"></div>
    <div class = "index_block" id = "block_7"></div>
    <div class = "index_block" id = "block_8"></div>
    <div class = "index_block" id = "block_9"></div>
    <div class = "index_block" id = "block_10"></div>
  </div>

{% endblock %}
