{# This is a base template file that all other pages inherit from #}

{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'painindex/style.css' %}" />

    {# At some point, delete font weights I'm not actually using. In particular there are 2 bold weights here, 600 and 700 #}
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700'>

    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
    
    <script type='text/javascript' 
        src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        

    {% block headstuff %}{% endblock %}
    
</head>

<body>
{% block body %}

    {% block nav %}
    <nav>
    </nav>
    {% endblock %}
    
    {% block body_other %}
    
        <div id="top_matter">
        </div>
        
        <div id="main_content_box">

            <div id="main_content">
                <h1>
                    {% block main_content_title %}{% endblock %}        
                </h1>
                {% block main_content %}{% endblock %}
            </div>

        </div>
    
    {% endblock %}


{% endblock %}
</body>
</html>

