{# This is a base template file that all other pages inherit from #}

{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    
    <script type='text/javascript' 
        src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'painindex/bootstrap-3.2.0-dist/css/bootstrap.min.css'%}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'painindex/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css'%}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'painindex/bootstrap-3.2.0-dist/js/bootstrap.min.js'%}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'painindex/style.css' %}" />
        

    {% block headstuff %}{% endblock %}
    
</head>

<body>
{% block body %}

    {% block nav %}
    <nav>
    </nav>
    {% endblock %}
    
    {% block body_other %}
    
        <div id="top_matter">
        </div>
        
        <div id="main_content_box">

            <div id="main_content">
                <h1>
                    {% block main_content_title %}{% endblock %}        
                </h1>
                {% block main_content %}{% endblock %}
            </div>

        </div>
    
    {% endblock %}


{% endblock %}
</body>
</html>

