.content {
  background-color: #f7f7f7;
  width: 500px; }

.full-width {
  width: 100%;
  background-color: lightyellow;
  background-image: url("/static/painindex/imgs/diagmonds.png");
  background-position: 0 0;
  background-repeat: repeat;
  overflow: hidden;
  padding: 3em;
  margin-right: 0; }
  .full-width h1, .full-width h2, .full-width h3, .full-width h4 {
    text-align: center;
    color: white;
    font-family: Helvetica; }
  .full-width h1 {
    padding: .5em 0 0 0;
    font-family: Palatino;
    font-size: 6em;
    color: white;
    text-shadow: -5px 0 #600, 0 5px #600, 5px 0 #600, 0 -5px #600; }
  .full-width h2 {
    margin: 0 0 1em 0;
    font-variant: small-caps;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-family: Palatino; }
  .full-width #discover {
    margin: 2em; }
  .full-width #call_to_report {
    width: 75%;
    padding: 1em 3em;
    margin: auto;
    text-align: left;
    background-color: lightgrey;
    color: black;
    line-height: 1.8em; }
    .full-width #call_to_report p {
      padding: 0.5em 0 2em 0; }
    .full-width #call_to_report a {
      font-variant: small-caps; }
  .full-width #index_col {
    padding: 0 2em;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    width: 90%;
    margin: auto;
    color: black; }
    .full-width #index_col .inline {
      display: inline-block;
      margin-top: 2em;
      position: relative;
      float: left;
      padding: 0 0.5em;
      text-align: right;
      opacity: 2; }
      .full-width #index_col .inline #top, .full-width #index_col .inline #bottom {
        font-size: 1.5em;
        text-align: center;
        position: relative; }
    .full-width #index_col #info {
      float: right;
      background-color: white;
      padding: 2em;
      width: 50%;
      margin: 4em; }
    .full-width #index_col #source_col {
      width: 8em; }
    .full-width #index_col .index_block {
      width: 100%;
      height: 40px;
      margin: auto; }
    .full-width #index_col #index {
      width: 50px;
      background: linear-gradient(#600000, #ff0d00, #ff0d00, #ff5c00, #ffa200);
      position: relative; }
    .full-width #index_col h3 {
      margin: 1em;
      text-align: center; }

#funfact {
  position: relative;
  top: -10em; }
  #funfact .dot {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin: 2em auto;
    border-radius: 10em; }
  #funfact p {
    padding: 3em;
    margin: 2em;
    border-radius: 1em;
    background-color: #FFA200; }

.navbar-inverse {
  background-color: #600; }
  .navbar-inverse .navbar-nav .active a {
    background-color: #600000; }
