.content {
  background-color: #f7f7f7;
  width: 500px; }

h1 {
  color: #910E00; }

.index_block {
  width: 100%;
  height: 40px;
  margin: auto; }

#index {
  width: 50px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(#b10900, #ff0d00, #ff0d00, #ff5c00, #ffa200); }
